{% macro card(title, text, link, linkText) %}
  <article class="border border-penguin-black dark:border-penguin-tan flex flex-col">
    <h2 class="p-2 penguin-header">
      <a href="{{ link }}" class="with-stroke">{{ title }}</a>
    </h2>
    <p class="p-2 mb-0 flex-1">{{ text }}</p>
    <a href="{{ link }}" class="p-2 place-self-end">{{ linkText }}</a>
  </article>
{% endmacro %}