<footer class="bg-penguin-orange border-t-2 border-penguin-black dark:border-penguin-tan">
  <nav class="flex flex-row justify-end">
    <p class="m-1 mr-auto p-1">Copyright 2021 Christoffer Lagerstedt</p>
    <a href="/" class="m-1 p-1">GitHub</a>
    <a href="/" class="m-1 p-1">LinkedIn</a>
  </nav>
</footer>