<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/styles/style.css">
    <title>{%- if title %}{{ title }} | {% endif %}{{ site.title }}</title>
  </head>
  <body class="bg-penguin-tan dark:bg-penguin-black font-mono text-penguin-black dark:text-penguin-tan">
    {% include "./_header.njk" %}
    <main class="container mx-auto p-4 flex flex-col">
      {%- block main %}
        {{ content | safe }}
      {% endblock -%}
    </main>
  </body>
</html>