{% extends "./base.njk" %}

{%- block main %}
  <section>
    {{ content | safe }}
  </section>
  <nav>
    {% set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
      <p>{{ entry.excerpt }} <a href="{{ entry.url | url }}">{{ entry.title }}</a>.</p>
    {% endfor -%}
  </nav>
{% endblock -%}