{% extends "./base.njk" %}
{% from "../macros/components.njk" import card %}

{%- block main %}
  <nav class="grid gap-4 grid-cols-1 lg:grid-cols-2">
    {% set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
      {{ card(entry.title, entry.excerpt, entry.url, entry.goToText) }}
    {% endfor -%}
  </nav>
{% endblock -%}